.list {
  position: absolute;
  left: 27%;
  bottom: 5px;
  padding: 0;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.list li {
  list-style: none;
}

.list a {
  display: block;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.list a:hover {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

@media (max-width: 1461px) {
  .list {
    left: 10%;
    width: 80%;
  }
}

@media (max-width: 920px) {
  .list {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 195px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    text-align: center;
    align-content: start;
    justify-content: start;
    background-color: rgba(225, 228, 209, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .list.open {
    bottom: 0%;
  }

  .list.closed {
    bottom: 100%;
  }
}

@media (max-width: 768px) {
  .list {
    top: 130px;
  }
}
